<div class="container">
  <header>
    <a href="/" class="logo"> <img src="/imagens/restaurantandbars.jpeg" width="100px" height="100%" class="logo"> </a>
    <h1 class="pizzahot">TECNOLOGIA NA MESA</h1>
    <a href="/cart" class="carrinho"><img src="/imagens/carrinho.png" width="70px" height="70px" > </a>
    <div class="navbar">

      <div class="input-box">
        <button id="add_comanda"> <a href="#">+</a> </button >
      </div>

      <div class="input-box">
        <button> <a href="#">COMANDA 1</a> </button>
      </div>

    </div>

    <div class="navbar2">
      <div class="input-box">
        <button onclick="principal()"><u>PRINCIPAIS</u></button>
      </div>
      <div class="input-box">
        <button onclick="sobremesa()"><u>SOBREMESAS</u></button>
      </div>
      <div class="input-box">
        <button onclick="bebida()"><u>BEBIDAS</u></button>
      </div>

    </div>  
  </header>
    <main>
      <div class="input-box1">
        <a href="/alimentos/principal/pizza/"><button>PIZZAS</button></a>
      </div>
      
      <div class="input-box2">
        <a href="/alimentos/principal/massa/"><button>MASSAS</button></a>
      </div>
      
      <div class="input-box3">
        <a href="/alimentos/principal/taco/"><button>TACOS</button></a>
      </div>
      
      <div class="input-box4">
        <a href="/alimentos/principal/burrito/"><button>BURRITOS</button></a>
      </div>
      
      <div class="input-box5">
        <a href="/alimentos/principal/sanduiche/"><button>SANDUICHES</button></a>
      </div>
      
      <div class="input-box6">
        <a href="/alimentos/principal/hamburguer/"><button>HAMBURGUERS</button></a>
      </div>
      
      <div class="input-box7">
        <a href="/alimentos/principal/churrasco/"><button>CHURRASCOS</button></a>
      </div>
      
      <div class="input-box8">
        <a href="/alimentos/principal/salada/"><button>SALADAS</button></a>
      </div>

    </main>
  <aside></aside>
  <footer></footer>
</div>